---
layout: base
nav: none
---
<main>
<article class="cv">
  <header>
    <h1>{{site.owner.name}}</h1>
    {{ site.data.cv.summary | markdownify }}
  </header>













<section class="technologies cloud">
  <h2>Technologies</h2>
{% assign uniq = "" | split: ""                                 %}
{% assign all = "" | split: ""                                  %}
{% for contract in site.data.cv.contracts                       %}
{%   for proj in contract.projects                              %}
{%     for tech in proj.tech                                    %}
{%       assign all = all | push: tech                          %}
{%       unless uniq contains tech                              %}
{%         assign uniq = uniq | push: tech                      %}
{%       endunless                                              %}
{%     endfor                                                   %}
{%   endfor                                                     %}
{% endfor                                                       %}

<ul>
{% for tag in uniq                                              %}
{%   assign count = 0                                           %}
{%   for any in all                                             %}
{%     if any == tag                                            %}
{%       assign count = count | plus: 1                         %}
{%     endif                                                    %}
{%   endfor                                                     %}
{%   if count > 1                                               %}
  <li><a rel="tag" data-count="{{count}}">{{tag}}</a></li>
{%   endif                                                      %}
{% endfor                                                       %}
</ul>
  <details>
    <summary>Others</summary>
  {% for tag in uniq                                             %}
  {%   assign count = 0                                          %}
  {%   for any in all                                            %}
  {%     if any == tag                                           %}
  {%       assign count = count | plus: 1                        %}
  {%     endif                                                   %}
  {%   endfor                                                    %}
  {%   if count == 1                                             %}
      <li><a rel="tag" data-count="{{count}}">{{tag}}</a></li>
  {%   endif                                                     %}
  {% endfor                                                      %}
  </details>
</section>











<section class="clients">
  <h2>Clients</h2>
  <ul>
{% assign uniq = "" | split:""                                  %}
{% for contract in site.data.cv.contracts                       %}
{%   unless uniq contains contract.client                       %}
{%     assign uniq = uniq | push: contract.client               %}
{%   endunless                                                  %}
{%   for project in contract.projects                           %}
{%     if project.client                                        %}
{%       unless uniq contains project.client                    %}
{%         assign uniq = uniq | push: project.client            %}
{%       endunless                                              %}
{%     endif                                                    %}
{%   endfor                                                     %}
{% endfor                                                       %}
{% for client in uniq                                           %}
{% if site.data.clients[client]                                 %}
{%   if site.data.clients[client].image                         %}
{%     assign src = site.data.clients[client].image             %}
{%     assign alt = site.data.clients[client].title             %}
<li>
{% include _img.html base="images/clients" name=src alt=alt     %}
</li>
{%   endif                                                      %}
{% endif                                                        %}
{% endfor                                                       %}
  </ul>

</section>








<section class="projects">
<h2>Projects</h2>
<input type="checkbox" id="enableTimeline" checked>
<label for="enableTimeline"></label>

<div class="bar"></div>
<div class="timeline">
{% for contract in site.data.cv.contracts                       %}
{% for project in contract.projects                             %}
{% if project.client                                            %}
{%   assign client=project.client                               %}
{% else                                                         %}
{%   assign client = contract.client                            %}
{% endif                                                        %}
{% assign from = project.from | date: '%s'                      %}
{% assign to = project.to | date: '%s'                          %}
{% assign ts = to | minus: from                                 %}
{% assign days = ts | divided_by:3600 | divided_by: 24          %}
{% assign years = days | divided_by:365                         %}
{% if years > 1                                                 %}
{%   assign length = years | append: " years "                  %}
{% elsif years == 1                                             %}
{%   assign length = "1 year "                                  %}
{% else                                                         %}
{%   assign length = ""                                         %}
{% endif                                                        %}
{% assign months = days | modulo: 365 | divided_by: 30 | ceil   %}
{% if months > 1                                                %}
{%   assign length = length | append: months | append: " months"%}
{% elsif months == 1                                            %}
{%   assign length = length|append: "1 month"                   %}
{% endif                                                        %}
  <div class="job">
    <time>{{from | date: "%b %y"}} – {{length}}</time>

{% if site.data.clients[client]                                 %}
{%   if site.data.clients[client].image                         %}
{%     assign src = site.data.clients[client].image             %}
{%     assign alt = site.data.clients[client].title             %}
{%     include _img.html base="images/clients" name=src alt=alt %}
{%   else                                                       %}
  <p>{{ site.data.clients[client].title}}</p>
{%   endif                                                      %}
{% endif                                                        %}

    <h3>{{ project.title }}</h3>

    {{ project.description | markdownify }}
    <details open>
      <summary>Technologies</summary>
      <p class="tags">
{% for tag in project.tech                                      %}
        <a rel="tag">{{tag}}</a>
{% endfor                                                       %}
      </p>
    </details>
  </div>
{% endfor                                                       %}
{% endfor                                                       %}
</div>
</section>
</article>
