---
layout: home
image:
  feature: officehead.jpg
excerpt: Sebastien Lambla's blog.
---
<main>
{% for post in paginator.posts %}
{% include blogEntry.html post=post comments=false content=post.content related=false ads=true %}
{% endfor %}
{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
    <a class="icon middle fa-chevron-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" rel="prev">newer</a>
  {% else %}
    <span class="icon middle disabled fa-chevron-left"> newer
  {% endif %}
  |
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" rel="next" class="icon-after middle fachevron-right">older</a>
  {% else %}
    <span class="icon-after middle disabled fa-chevron-right"> older</span>
  {% endif %}
</nav><!-- /#index -->
{% endif %}
</main>
<script id="dsq-count-scr" src="//codebetterblog.disqus.com/count.js" async></script>
<div id="me" style="display:none">Hello. You have reached my hash uri. You're probably trying to resolve something not to be resolved. Look away now and see you in the semweb graph</div>
<script type="application/ld+json">
{% include semweb/webSite.ldjson noid=true %}
</script>
