---
layout: home
image:
  feature: officehead.jpg
redirect_from: "/blog/"
excerpt: Sebastien Lambla's blog.
---
<div class="post">
{% for post in paginator.posts %}
{% include blogEntry.html post=post comments=false content=post.content related=false %}
{% endfor %}
{% if paginator.total_pages > 1 %}
<nav class="pagination" role="paginate">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" rel="previous"><i class="fa fa-chevron-left"></i> newer</a>
  {% else %}
    <span disabled><i class="fa fa-chevron-left"></i> newer</span>
  {% endif %}
  |
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" rel="next">older <i class="fa fa-chevron-right"></i></a>
  {% else %}
    <span disabled>older <i class="fa fa-chevron-right"></span>
  {% endif %}
</nav><!-- /#index -->
{% endif %}
</div>
<script id="dsq-count-scr" src="//codebetterblog.disqus.com/count.js" async></script>
