---
layout: home
image:
  feature: officehead.jpg
redirect_from: "/blog/"
excerpt: Sebastien Lambla's blog.
---
<main>
{% for post in paginator.posts %}
{% include blogEntry.html post=post comments=false content=post.content related=false ads=true %}
{% endfor %}
{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" rel="previous"><i class="fa fa-chevron-left"></i> newer</a>
  {% else %}
    <i class="fa fa-chevron-left"></i> newer
  {% endif %}
  |
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" rel="next">older <i class="fa fa-chevron-right"></i></a>
  {% else %}
    older <i class="fa fa-chevron-right">
  {% endif %}
</nav><!-- /#index -->
{% endif %}
</main>
<script id="dsq-count-scr" src="//codebetterblog.disqus.com/count.js" async></script>
<div id="me" style="display:none">Hello. You have reached my hash uri. You're probably trying to resolve something not to be resolved. Look away now and see you in the semweb graph</div>
