{%comment%}

  Finds an image and generate the correct srcset, in the following locations:
    - /base/pagename/filename.ext
    - /base/filename.ext

  Usage
  =====
  {% include _img.html name=filename.ext base=assets %}

  name: the file name of the image
  base: the base folder to look into, by default assets/entries/pagename
  alt: text describing the image
  class: the class attribute on the image

{%endcomment%}
{% assign srcset = nil                                                  %}
{% capture pageFilePath %}{% if post.path %}{{ post.path }}{% else page.path %}{{ page.path }}{% endif %}{% endcapture %}

{% capture pageFileName %}{{pageFilePath | split: "/" | last}}{% endcapture%}

{% capture directory %}{{ pageFileName | split:"." | first }}{% endcapture %}
{% if directory contains "index" %}
  {%capture directory%}{{ pageFilePath | remove: pageFileName | split:"/" | last }}{% endcapture %}
{% endif %}



{% if include.base %}
  {% assign base = include.base %}
{% else %}
  {% capture base %}assets/entries/{{directory}}{% endcapture %}
{% endif %}


{% capture extension %}.{{include.name | split:"." | last }}{% endcapture %}
{% capture includeNameWithoutExtension %}{{ include.name | remove: extension }}{% endcapture %}

{% capture srcsetPrefix %}/{{base}}/{{includeNameWithoutExtension}}@{% endcapture %}

{% for file in site.static_files %}
  {% if file.path contains srcsetPrefix %}
    {% capture srcsetMultiplier %}{{file.path | split: "@" | last | split:"." | first}}{% endcapture %}
    {% capture srcset %}{{srcset}}{%if srcset%}, {%endif%}{{file.path}} {{srcsetMultiplier}}{% endcapture %}
  {% endif %}
{% endfor %}
<img src="/{{base}}/{{ include.name }}" {%if srcset and srcset != ""%}srcset="/{{base}}/{{ include.name }} x1, {{srcset}}" {%endif%}{%if include.class %} class="{{include.class}}"{%endif%}{%if include.alt%} alt="{{include.alt}}"{%endif%} />
