<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
{%if include.robots%}<meta name="robots" content="{{include.robots}}" />{%endif%}
</head>

<body class="{{ include.name }}">
{% include _scripts-early.html %}
{% include _browser-upgrade.html %}

{% include _navigation.html %}
{% include _feature.html %}
<div role="main" id="main">
  {% if include.nav == 'author' %}
  <aside class="article-author-side">
    {% include _author-bio.html %}
  </aside>
  {% endif %}
  {{ body }}
</div><!-- /#main -->

<footer class="footer-wrap">
  {{ footer_before }}
  {% include _footer.html %}
</footer>

{% include _scripts.html %}

{% include _jsonld.html %}

</body>
</html>
