<div class="navigation-wrapper">
	<div class="site-name">
		<nobr><a href="{{ site.url }}/"><img src="/assets/logo32.png" srcset="/assets/logo32.png 1x, /assets/logo64.png 2x, /assets/logo128.png 4x" style="vertical-align: top;">SerialSeb</a></nobr>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.data.navigation %}
				    {% if link.url contains 'http' %}
				        {% assign domain = '' %}
				        {% else %}
				        {% assign domain = site.url %}
				    {% endif %}
				    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
						{% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->
