<article class="post">
  <div class="headline-wrap">
    {% if post.link %}
      <h1><a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h1>
    {% endif %}
    <p class="byline">Published <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>{% if post.modified %}, edited on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}">{{ post.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
  </div><!--/ .headline-wrap -->
  <div class="article-wrap">
    {{ content }}
    <hr />
    <footer role="contentinfo">
      {% if post.share != false %}{% include _social-share.html %}{% endif %}

    </footer>
  </div><!-- /.article-wrap -->
{% if site.owner.disqus-shortname and post.comments == true %}
  <section id="disqus_thread"></section><!-- /#disqus_thread -->
{% endif %}
</article>
