{% capture absoluteUri %}{{ site.url }}{{ include.shareurl }}{% endcapture %}
<div class="social-share">
  <h4>Share on</h5>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{absoluteUri}}" class="twitter" title="Share on Twitter"><i class="fa fa-twitter"></i><span> Twitter</span></a>
    </li>
    <li>
      <div class="fb-share-button" data-href="{{absoluteUri}}" data-layout="button_count"></div>
    </li>
    <li>
      <script type="IN/Share" data-url="{{absoluteUri}}" data-counter="right"></script>
    </li>
  </ul>
</div><!-- /.social-share -->
