{% capture absoluteUri %}{{ site.url }}{{ include.shareurl }}{% endcapture %}
<section class="social-share">
    <h4>Share</h4>
    <!-- AddToAny BEGIN -->
    <ul class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="{{absoluteUri}}">
    <li><a class="a2a_button_facebook a2a_counter"></a></li>
    
    <li><a class="a2a_button_linkedin a2a_counter"></a></li>
    <li><a class="a2a_button_twitter"></a></li>
    <li><a class="a2a_button_google_plus"></a></li>
    <li><a class="a2a_button_reddit"></a></li>
    <li><a class="a2a_button_pinterest"></a></li>
    </ul>
    <div style="clear:both;"></div>
    <!-- AddToAny END -->
</section><!-- /.social-share -->
