{%comment%}Use comments=true, content=... and post={%endcomment%}
<article>
    <header class="headline-wrap">
        <h1><a href="{{ site.url }}{{ include.post.url }}" rel="bookmark" title="{{include.post.title | cgi_escape}}">{{include.post.title}}</a></h1>

      <p class="byline">
        <time datetime="{{ include.post.date | date_to_xmlschema }}" class="icon fa-calendar">{{ include.post.date | date: "%B %d, %Y" }}</time>
        {% if include.post.modified %}
        <time class="icon fa-pencil-square-o" datetime="{{ include.post.modified | date: "%Y-%m-%d" }}">{{ include.post.modified | date: "%B %d, %Y" }}</time>
        {% endif %}
        {% if include.post.comments == true %}{%unless include.comments %} <a class="icon fa-commenting-o" href="{{ site.url }}{{ include.post.url }}#disqus_thread">Comments</a>{% endunless %}{%endif%}
      </p>
    </header>

    {%unless include.excerpt %}
    {%include serial/toc.html post=include.post %}
    {%endunless%}
    {%if include.excerpt%}
    <p>{{ include.post.excerpt | strip_html | truncate: 160 }}</p>
    {%else%}
    <div class="article-wrap">
      {{ include.content }}
    </div><!-- /.article-wrap -->
    {%endif%}
    <footer>
      {% if include.excerpt != true and include.post.share != false %}{% include _social-share.html shareurl=include.post.url %}{% endif %}
      {%if include.ads %}
      <section>
        <h4>Ads</h4>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Blog Entry -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-8662074549051539"
           data-ad-slot="2042114731"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </section>
    {%endif%}
      {% if site.owner.disqus-shortname and include.post.comments == true and include.comments %}
      <section id="disqus_thread">
        <h4>Comment</h4>
      </section><!-- /#disqus_thread -->
      {% endif %}
      {% if include.excerpt != true and include.related and site.related_posts.size > 0 %}
      <section class="related-articles">
      <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.url }}/archive/">View all posts</a>)</small></h4>
        <ul>
        {% for post in site.related_posts limit:3 %}
          <li><a href="{{ site.url }}{{ post.url }}" title="{{post.title | cgi_escape}}">{{post.title}}</a></li>
        {% endfor %}
        </ul>
        <hr />
      </section><!-- /.related-articles -->
      {% endif %}
    </footer>
  <script type="application/ld+json">
  {% include semweb/blogPosting.ldjson %}
  </script>
</article>
