<!doctype html>
<html>
<head>
    {%include head.html %}
</head>
<body>
<nav class="top">
    {% include top.html %}
</nav>
<nav class="left">
    {% include left.html %}
</nav>
<section class="main">
    <h1>{{page.title}}</h1>
    {{ inner_content }}
</section>
<footer>{% include footer.html %}</footer>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39783963-1', 'serialseb.com');
    ga('send', 'pageview');
</script>
</body>
</html>