{% capture body %}
  <article class="page">
    {% if page.title %}
    {% unless page.title-hide%}
    <h1>{{ page.title }}</h1>
    {%endunless%}{% endif %}
    <div class="article-wrap">
      {{ content }}
      {% if page.share != false %}
        <hr />
        {% include _social-share.html shareurl=page.url %}
      {% endif %}
    </div><!-- /.article-wrap -->
    {% if site.owner.disqus-shortname and page.comments == true %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
{% endcapture %}
{% include _master.html name="page" nav="author" %}
