{% capture body %}{%
assign last = page.deliveries | first %}
<main>
    <h1>{{ page.title }}</h1>
    <p class="byLine">
      {%if last.date %}<time datetime="{{ last.date | date_to_xmlschema }}" class="icon fa-microphone">{{ last.date | date: "%B %d, %Y" }}</time>{%endif%}
      {% for current_tag in page.tags %}{% include _tag.html tag=current_tag %}{%endfor%}
    </p>
    <h2>{% if last.href %}<a href="{{last.href}}">{%endif%}{{last.conf}}{%if last.href%}</a>{%endif%}</h2>
    {% if last.video.embedded %}
    <iframe src="{{last.video.embedded}}" width="{{last.video.width}}" height="{{last.video.height}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% endif %}

    {% if page.summary %}
    <h2>Summary</h2>
    {{ page.summary | markdownify }}
    {%endif%}


    {{ content }}


    {% if last.quotes %}
    <h2>Quotes</h2>
    {% for quote in last.quotes %}
    <q>{{ quote }}</q>
    {% endfor %}
    {% endif %}

    <h2>Links</h2>
    <ul>
    {%if last.slides %}<li><a href="{{last.slides}}">Slides</a></li>{%endif%}
    {%if last.samples %}<li><a href="{{last.samples}}">Code Samples</a></li>{%endif%}
    {%if last.video.href %}<li><a href="{{last.video.href}}">Video</a></li>{%endif%}
    {%for link in last.links %}<li><a href="{{ link.url }}">{{link.title}}</a></li>{%endfor%}
    </ul>

{% if page.deliveries.size > 1 %}
<h2>Also presented at</h2>
<ul>
{% for cur in page.deliveries offset:1 %}
  <li>

    <h3>{%if cur.href %}<a href="{{cur.href}}">{%endif%}{{cur.conf}}{%if cur.href %}</a>{%endif%}{%if cur.title %} ({{cur.title}}){%endif%}</h3>
    <p class="byLine">
      <time datetime="{{ cur.date | date_to_xmlschema }}">{{cur.date | date: "%B %d, %Y"}}</time>
      <address>{{cur.location}}</address>
    </p>
  </li>
{% endfor %}
</ul>
{% endif %}
</main>
{% endcapture %}
{% include _master.html name="talk" nav="author" bare="true" %}
