{% capture body %}
  <article class="page">
      {%for last in page.deliveries limit:1 %}
      <h1>{{ page.title }}
      <h2>{% if last.url %}<a href="{{last.url}}">{%endif%}{{last.conf}}{%if last.url%}</a>{%endif%}
      </h2>
      <time>{{last.date}}</time>
      {% if last.links %}
        <aside>
            <h2>Links</h2>
            <ul>
                {%for link in last.links %}
                <li><a href="{{ link.url }}">{{link.title}}</a></li>
                {%endfor%}
            </ul>
        </aside>
      {% endif %}
      {{ content }}
      <div>
          {%if last.slides %}<a href="{{last.slides}}">Slides</a>{%endif%}
          {%if last.samples %}<a href="{{last.samples}}">Samples</a>{%endif%}
          {%if last.video %}<a href="{{last.video}}">Video</a>{%endif%}
      </div>
      {% if last.quotes %}
          <h2>Quotes</h2>
          {% for quote in last.quotes %}
          <q>{{ quote }}</q>
          {% endfor %}
      {% endif %}


  {% endfor %}
  </article>
  {% if page.deliveries > 1 %}
  <h2>Also presented at</h2>
  {% endif %}
  {% for cur in page.deliveries offset:1 %}
  <article class="previous-talk">
      <header>
        {%if cur.title %}<h3>Title: {{cur.title}}</h3>{%endif%}
          <h3>{{cur.conf}}</h3>
          <time>{{cur.date}}</time>
          <address>{{cur.location}}</address>
      </header>
  </article>
  {% endfor %}
{% endcapture %}
{% include _master.html name="talk" nav="author" %}
