{% capture body %}{%
for event in page.deliveries %}{%
  if event.video.embedded  %}{%
    assign with_video = event  %}{%
    break %}{%
  endif  %}{%
endfor %}{%
assign last = page.deliveries.first %}{%
assign quotes = ''|split:'' %}{%
for event in page.deliveries %}{%
  for quote in event.quotes %}{%
    assign quotes = quotes | push: quote %}{%
  endfor  %}{%
endfor  %}
<main>
    <h1>{{ page.title }}</h1>
    <p class="byLine">
      {%if last.date %}<time datetime="{{ last.date | date_to_xmlschema }}" class="icon fa-microphone">{{ last.date | date: "%B %d, %Y" }}</time>{%endif%}
      {% for current_tag in page.tags %}{% include _tag.html tag=current_tag %}{%endfor%}
    </p>
    {% if with_video %}
    <iframe src="{{with_video.video.embedded}}" width="{{with_video.video.width}}" height="{{with_video.video.height}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% endif %}
    {% if page.summary %}
    <h2>Summary</h2>
    {{ page.summary | markdownify }}
    {%endif%}


    {{ content }}


    {% if quotes.size > 0 %}
    <h2>Quotes</h2>
    {% for quote in quotes %}
    <q>{{ quote }}</q>
    {% endfor %}
    {% endif %}


    {% if last.slides or last.samples or last.video or page.links.size > 0 %}
    <h2>Links</h2>
    <ul>
    {%if last.slides %}<li><a href="{{last.slides}}">Slides</a></li>{%endif%}
    {%if last.samples %}<li><a href="{{last.samples}}">Code Samples</a></li>{%endif%}
    {%if last.video.href %}<li><a href="{{last.video.href}}">Video</a></li>{%endif%}
    {%for link in page.links %}<li><a href="{{ link.url }}">{{link.title}}</a></li>{%endfor%}
    </ul>
    {%endif%}

{% if page.deliveries.size > 1 %}
<h2>Where</h2>
<ul>
{% for cur in page.deliveries %}
  <li>

    <h3>{%if cur.href %}<a href="{{cur.href}}">{%endif%}{{cur.conf}}{%if cur.href %}</a>{%endif%}{%if cur.title %} ({{cur.title}}){%endif%}</h3>
    <p class="byLine">
      <time datetime="{{ cur.date | date_to_xmlschema }}">{{cur.date | date: "%B %d, %Y"}}</time>
      <address>{{cur.location}}</address>
    </p>
  </li>
{% endfor %}
</ul>
{% endif %}
</main>
{% endcapture %}
{% include _master.html name="talk" nav="author" bare="true" %}
